@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    background: pink;
    color: green;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
}

header {
    align-content: center;
    text-align: center;
    color: #ff5e00;
    border: 0px;
}

h1 {
    border: 0px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60px;

}

span {
    color: red;
}

section {
    align-content: center;
    text-align: center;
}

table {
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 2px #00ACE9 solid;
}

td {
    padding: 3px;
    width: 200px;
    height: 30px;
    text-align: center;
}

th {
    padding: 5px;
    width: 200px;
    font-size: 30px;
    color: #6A9A1F;
    text-align: center;
}

input {
    border: 2px;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    padding: 3px;
    background: #778899;
}

button {
    border: 2px;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background:red;
    margin: 3px;
    color: #232B2B;
    font-size: 22px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: antiquewhite;
    font-family: 'Nunito', sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: antiquewhite;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: antiquewhite;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: antiquewhite;
}
